
/* Odd rows */
.customDataTable .sapUiTableRow:nth-child(odd) {
    background-color: #f5f4f4;
}

/* Even rows */
.customDataTable .sapUiTableRow:nth-child(even) {
    background-color: #dad5d5;
}

/* wrap Row text */
.wrapText {
    white-space: normal !important;
    line-height: normal !important;
    word-break: break-word !important;
}

/* wrap Header text */
.sapUiTableColHdrCnt .sapMLabel {
    white-space: normal !important;
    word-break: break-word !important;
}
